<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsKAI4hg4t_wIS8irHe0hj6udBwm7XKoU</string>
	<key>GCM_SENDER_ID</key>
	<string>998255141329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mariavai.mariavaiservices</string>
	<key>PROJECT_ID</key>
	<string>mariavaicomoutras-e7c28</string>
	<key>STORAGE_BUCKET</key>
	<string>mariavaicomoutras-e7c28.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998255141329:ios:59c1f2bc5590274a2bc0f0</string>
	<key>DATABASE_URL</key>
	<string>https://mariavaicomoutras-e7c28-default-rtdb.firebaseio.com</string>
</dict>
</plist>